<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <div class=" container p-4">
        <div class="row">
          <div class="col">
            <h5>Coursera</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">About</li>
                <li class="list-group-item">Careers</li>
                <li class="list-group-item">Professional Certificates</li>
                <li class="list-group-item">Free Courses</li>
                <li class="list-group-item">Become a Partner</li>
                <li class="list-group-item">Leadership</li>
              </ul>
            
          </div>
          <div class="col">
            <h5>Popular Subjects</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cybersecurity</li>
                <li class="list-group-item">Data Analytics</li>
                <li class="list-group-item">Data Science</li>
                <li class="list-group-item">Digital Marketing</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">All Courses</li>
              </ul>
          </div>
          <div class="col">
            <h5>Popular Resources</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">How to Become a Data Analyst  </li>
                <li class="list-group-item">How to Get a PMP Certification </li>
                <li class="list-group-item">Professional Certificates</li>
                <li class="list-group-item">Popular Cybersecurity Certifications</li>
                <li class="list-group-item">Popular IT Certifications</li>
                <li class="list-group-item">Career Insights & Advice Hub</li>
              </ul>
          </div>
          <div class="col">
            <h5>Community</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Press </li>
                <li class="list-group-item">Partners </li>
                <li class="list-group-item">Beta Testers</li>
                <li class="list-group-item">Privacy</li>
                <li class="list-group-item">Contact</li>
                <li class="list-group-item">Teaching Center</li>
            </ul>
            
          </div>
        </div>
      </div>
   
      
   
</body>
</html>